<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="features" type="ReallySimpleFeatureToggle.Configuration.AppConfigProvider.FeatureConfigurationSection, ReallySimpleFeatureToggle" />
  </configSections>

  <features>
    <add name="EnabledFeature" state="Enabled">
        <add rule="feature.Name == &quot;EnabledFeature&quot;" />
    </add>
    <add name="DisabledFeature" state="Disabled" />
    <add name="EnabledFor50Percent" state="EnabledForPercentage" randomPercentageEnabled="50" />
  </features>

</configuration>