<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="features" type="ReallySimpleFeatureToggle.Configuration.AppConfigProvider.FeatureConfigurationSection, ReallySimpleFeatureToggle" />
  </configSections>

  <features>
    <add name="NoStateFeature" />
    <add name="EnabledFeature" state="Enabled" />
    <add name="DisabledFeature" state="Disabled" />
    <add name="SupportedAllFeature" state="Enabled" supportedTenants="All" />
    <add name="SupportedStringEmpty" state="Enabled" supportedTenants="" />
    
    <add name="FeatureWithDependency" state="Enabled" dependencies="FeatureWithDependant" />
    <add name="FeatureWithDependant" state="Enabled" />
    
    <add name="FeatureWithDisabledDependency" state="Enabled" dependencies="DisabledFeatureWithDependant" />
    <add name="DisabledFeatureWithDependant" state="Disabled" />
    
    <add name="FeatureForMultipleTenants" state="Enabled" supportedTenants="Tenant1,Tenant2,Tenant3" />
    
  </features>
  
</configuration>